.board-cadences {
  display: flex;
  flex-direction: column;
}

.board-cadence {
  margin: 10px 0;
  display: flex;
  flex-direction: row;

  .ceremony .card {
    margin: -200px 5px 0 5px;
  }
}

.board-ceremonies {
  margin-top: 20px;
  display: flex;

  .ceremony {
    max-height: 100%;
  }

  .card {
    margin: 0 -154px 0 5px;
  }
}
