@import 'colors';

.board {
  color: $grey-darkest;
  min-height: 100%;

  .flex { width: 100%; }
  .undecided { margin-right: 20px; }
}

.board-content {
  padding: 16px;
  max-height: 100vh;
  overflow: auto;
}

.board-title {
  h1 {
    font-size: 18px;
    margin: 0;
    padding: 8px 0;
  }

  p {
    color: $grey;
    font-size: 14px;
  }
}
