@import 'colors';

.board {
  color: $grey-darkest;
  min-height: 100%;

  .undecided { margin-right: 20px; }
}

.board-content {
  padding: 16px;
  max-height: 100vh;
  width: 100%;
  overflow: auto;

  .sidebar-subtitle { padding: 12px 4px; }

}

.board-title {
  h1 {
    font-size: 18px;
    margin: 0;
    padding: 8px 0;
  }

  p {
    color: $grey;
    font-size: 14px;
    margin: 0;
  }
}

.board-add-sprint {
  display: inline-block;
  background: $grey-lightest;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border-radius: 4px;
  font-size: 14px;

  svg {
    margin-right: 4px;
  }
}
