@import 'colors';

.cadence {
  background: $grey-lightest;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  min-height: 120px;
  margin: 4px;

  &.highlight {
    background: $grey-lighter;
  }

  &.void {
    background: $grey-darkest;

    .ceremony {
      background: $grey-dark;
      color: $grey-light;
      opacity: 0.75;
    }
  }
}
