@import 'colors';

.cadence {
  background: $grey-lightest;
  box-shadow: 0 0 4px $box-shadow;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  min-height: 120px;
  margin: 4px;

  &.highlight {
    background: $grey-lighter;
  }

  &.void {
    background: $void-background;
    color: $warm-grey-100;
    font-weight: 600;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;

    .ceremony {
      background: $grey-darker;
      color: $grey-light;
      :hover {
        background: $warm-grey-400;
      }
      span {
        color: $warm-grey-100;
        font-weight: 600;
      }
    }
  }
  .void-placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    padding: 16px 6px;
    margin: 0 auto;
  }
  .void-svg {
    margin: 0 auto;
    width: 65%;
  }

  .cadence-add {
    box-shadow: 0 0 4px $box-shadow;
  }
}
