@import 'colors';

.ceremony {
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  margin: 8px 0;
  width: 100%;

  .mvc-hover-state {
    padding: 4px 8px;
  }

  .dropdown-tooltip {
    padding: 20px;
  }
}

.ceremony-icon {
  font-size: 36px;
  margin-top: 36px;
  margin-bottom: 26px;
}

.ceremony-title {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 12px;
}

.ceremony-subheading {
  font-size: 14px;
  font-weight: 600;
  line-height: 147%;
  margin-bottom: 6px;
}

.ceremony-description {
  font-size: 14px;
  line-height: 127%;
  font-weight: normal;
}

.ceremony-theme {
  float: right;
  border-radius: 3px;
  font-size: 12px;
  line-height: 12px;
  padding: 4px 5px;
  &.coordination{
    color: #DE4E72;
    background-color: #FBE5E5;
  }
  &.delivery {
    color: #2F80ED;
    background-color: #DCEFF9;
  }
  &.innovation {
    color: #2A7657;
    background-color: #CAEAC5;

  }
  &.culture {
    color: #9668EB;
    background-color: #F1E5FF;
  }
}