$warm-grey-000: #FAFAFA;
$warm-grey-100: #E0E0E0;
$warm-grey-400: #969696;
$warm-grey-700: #525252;
$grey-lightest: #f6f6f6;
$grey-light-100: #F7F6F4;
$grey-lighter: #e7e7e7;
$grey-light: #DaDaDa;
$grey: #bababa;
$grey-dark: #7B8997;
$grey-darker: #737373;
$grey-darkest: #353535;


$blue: #0067F2;

$void-background: #484848;
$box-shadow: rgba(0,0,0,0.2);

$coordination: #DE4E72;
$delivery: #2F80ED;
$innovation: #329569;
$culture: #9668EB;
