.confetti {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  visibility: hidden;
  transition: top 5s ease-out;

  &.running {
    visibility: visible;
    top: 200%;
  }

  .particle {
    // transform-origin: 80% 40%;
    // position: relative;
  }
}

@keyframes drift-1 {
  0% { transform: translateX(0) rotate(0deg); }
  50% { transform: translateX(250px) rotate(360deg); }
  100% { transform: translateX(0) rotate(720deg); }
}

@keyframes drift-2 {
  0% { transform: translateX(0) rotate(0deg); }
  50% { transform: translateX(-150px) rotate(360deg); }
  100% { transform: translateX(0) rotate(720deg); }
}

@keyframes drift-3 {
  0% { transform: translateX(0) rotate(0deg); }
  50% { transform: translateX(500px) rotate(360deg); }
  100% { transform: translateX(0) rotate(720deg); }
}

@keyframes drift-4 {
  0% { transform: translateX(0) rotate(0deg); }
  50% { transform: translateX(-200px) rotate(360deg); }
  100% { transform: translateX(0) rotate(720deg); }
}
