@import 'colors';

.dropdown {
  &:hover .dropdown-tooltip {
    opacity: 1;

    &.top {
      bottom: calc(100% + 8px);
    }
    &.bottom {
      top: calc(100% + 8px);
    }
    &.left {
      right: calc(100% + 8px);
    }
    &.right {
      left: calc(100% + 8px);
    }
  }
  display: inline-block;
  position: relative;
}

.dropdown-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.dropdown-tooltip {
  transition: 0.2s ease-in-out;
  position: absolute;
  background: black;
  color: $grey-lightest;
  padding: 4px 8px;
  text-align: left;
  font-size: 12px;
  border-radius: 4px;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  position: absolute;

  &.bottom {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);

    &:after {
      left: calc(50% - 4px);
      top: -4px;
    }
  }

  &.top {
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);

    &:after {
      left: calc(50% - 4px);
      bottom: -4px;
    }
  }

  &.left {
    bottom: 50%;
    right: 100%;
    transform: translate(0, 50%);

    &:after {
      right: -4px;
      top: calc(50% - 4px);
    }
  }

  &.right {
    bottom: 50%;
    left: 100%;
    transform: translate(0, 50%);

    &:after {
      left: -4px;
      top: calc(50% - 4px);
    }
  }

  &:after {
    content: "";
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background: black;
    position: absolute;
  }
}
