@import 'colors';

.dropdown {
  transition: 0.2s ease-in-out;
  svg {
    transition: 0.2s ease-in-out;
  }

  &.open .dropdown-tooltip {
    opacity: 1;

    &.top {
      bottom: calc(100% + 8px);
    }
    &.bottom {
      top: calc(100% + 8px);
    }
    &.left {
      right: calc(100% + 8px);
    }
    &.right {
      left: calc(100% + 8px);
    }
    &.right-start {
      left: calc(100% + 8px);
    }
  }
  position: relative;

  &.mvc-hover-state {
    padding: 4px 8px;
  }
}

.dropdown-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.dropdown-tooltip {
  transition: 0.2s ease-in-out;

  position: absolute;
  padding: 4px 8px;
  text-align: left;
  font-size: 12px;
  border-radius: 4px;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  position: absolute;

  &.dark {
    background: $grey-darkest;
    color: $grey-lightest;
  }

  &.light {
    background: $grey-lightest;
    color: $grey-dark;
    box-shadow: 0 0 4px $box-shadow;
  }

  &.bottom {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  &.top {
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &.left {
    bottom: 50%;
    right: 100%;
    transform: translate(0, 50%);
  }

  &.right {
    bottom: 50%;
    left: 100%;
    transform: translate(0, 50%);
  }

  &.right-start {
    bottom: 50%;
    left: 100%;
    transform: translate(0, 90%);
  }
}
