@import 'colors';

.intro {
  
  background-color: #f6f6f6;
}

.intro-content {
  max-width: 800px;
  max-height: 400px;
  margin: auto;
  padding: 0 32px;
  background: rgba(255,255,255,0.5);
  border-radius: 8px;
}

.intro-left {
  margin-right: 30px;
}

.intro-title {
  font-size: 32px;
  max-width: 400px;
}

.intro-right {
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
