.intro-wrapper {
  margin-top: 25%;
  background: rgba(255,255,255,0.5);
  color: #555;
  border-radius: 15px;
  padding: 50px 25px;
  display: flex;
}

.intro-left {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.intro-new {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.intro-right {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin: 0;
  }
}
