@import 'colors';

.intro {
  margin-top: 20%;
}

.intro-left {
  flex-basis: 40%;
  margin-right: 30px;
}

.intro-new {
  margin: auto;
}

.intro-right {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin: 0;
  }
}
