@import 'colors';

.mini-cadence {
  background-color: $grey-lightest;
  color: $grey-dark;
  transition: all 0.2s ease-in-out;
  min-height: 32px;
  margin: 2px;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    color: $grey-darker;
  }

  .dropdown-button {
    justify-content: center;
    align-items: center;
  }

  &.selected {
    color: $grey-darker;
    background-color: $grey-lighter;
    box-shadow: 0 0 1px 1px $box-shadow;
  }

  &.void {
    color: $warm-grey-100;
    background-color: $void-background;
    &:hover {
      background: $grey-darker;
    }
  }
}
