.participant {
  border-radius: 100%;
  background: #abcabc;
  color: black;
  margin: 0 4px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
