@import 'colors';

.participant {
  display: flex;
  flex-direction: column;
  width: 100%;

  &:hover {
    .participant-actions {
      opacity: 1;
    }
  }
}

.participant-icon {
  border-radius: 100%;
  background: #abcabc;
  margin: 0 4px;
  width: 22px;
  height: 22px;
  margin: 0 10px 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.participant-roles {
  margin-left: 36px;
}

.participant-role {
  display: inline-block;
}

.participant-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.participant-name {
  flex-grow: 1;
  font-size: 16px;
}

.participant-actions {
  opacity: 0;
}
