@import 'colors';

.role-card {
  box-shadow: 0 0 6px $grey-darker;
  border-radius: 8px;
  padding: 16px;
  margin: 16px auto;
  width: 300px;
  height: 100%;
  font-size: 14px;
  color: $grey-darkest;

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

}

.role-card-placeholder {
  color: $grey;
  align-items: center;
}
