@import 'colors';

.role-card {
  box-shadow: 1px 8px 14px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 26px;
  margin: 16px auto;
  width: 300px;
  min-height: 400px;;
  // height: 100%;
  font-size: 14px;
  color: $grey-dark !important;
  background-color: white;

  
  .card-icon {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 18px;
  }

  .card-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
    line-height: 180%;
  }

  .card-subheading {
    font-size: 14px;
    font-weight: 600;
    line-height: 147%;
    margin-bottom: 12px;
  }

  .card-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 127%;
    font-weight: normal;
    p {
      margin-bottom: 4px;
    }
  }
}
.role-card-placeholder {
  color: $grey;
  align-items: center;
}
