@import 'colors';

.setup {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  display: flex;
  height: 100%;
  h1 {
    font-size: 30px;
  }
}

.setup-slides {
  padding: 0 24px;
  transition: all ease-out 0.3s;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.setup-slide {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 100%;
  margin-right: 48px;
  white-space: break-spaces;
  opacity: 0;
  transition: all ease-out 0.2s;

  &.active {
    opacity: 1;
  }
}

.setup-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  p {
    font-size: 16px;
  }

  &.split {
    flex-direction: row;

    & > div {
      flex-basis: 50%;
    }
  }
}

.setup-subpanel {
  max-width: 600px;
  margin: auto;
}

.setup-panel-card {
  font-size: 18px;
  line-height: 22px;
  width: 500px;
  margin: auto;

  padding: 20px;
  background: $grey-lightest;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);

  input {
    width: 100%;
    background: transparent;
    outline: none;
    padding: 12px 0;
    color: $grey;
  }

  .dropdown {
    margin-top: 12px;
    padding: 8px;
    border: 2px solid $grey;
    color: $grey;
    font-size: 16px;
    display: inline-block;

    svg {
      fill: $grey;
    }

    &:hover {
      border: 2px solid $blue;
      color: $blue;
      background: $grey-lightest;

      svg {
        fill: $blue;
      }
    }
  }
}

.setup-user-link {
  .setup-subpanel {
    max-width: 680px;
  }

  .setup-panel-card {
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
  }

  svg {
    height: 180px;
  }
}
