@import 'colors';

.shareable-link {
  font-weight: normal;
  align-items: center;
  cursor: pointer;

  .mvc-hover-state {
    padding: 4px;
  }

  svg {
    margin-right: 4px;
    fill: $grey-darkest;
  }

  textarea {
    position: absolute;
    opacity: 0;
  }
  input {
    font-size: 16px;

    &.offscreen {
      position: absolute;
      opacity: 0;
    }
  }
}
