@import 'colors';

.sidebar {
  color: $grey-darkest;
  position: relative;
  display: flex;
  flex-direction: column;
  background: $grey-lightest;
  box-shadow: 0 -1px 4px $grey-darkest;
  font-size: 14px;
  min-width: 250px;
  z-index: 100;
  transition: 0.5s ease-in-out;
  padding-bottom: 8px;

  &.expanded {
    .sidebar-option {
      padding: 4px 12px;

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      svg {
        margin-right: 4px;
      }
    }

    .participant {
      padding: 8px 0;
    }
  }

  &.collapsed {
    min-width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 0;
  }
}

.sidebar-collapsed-item {
  min-width: 44px;
  min-height: 44px;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  .participant { align-items: center; }
  .participant-icon { margin: 0; }
}

.sidebar-header {
  padding: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;

  &:hover .sidebar-collapse {
    opacity: 1;
  }
}

.sidebar-collapse {
  opacity: 0;
  transition: 0.25s ease-in-out;
}

.sidebar-shareable-link {
  font-size: 12px;
  font-weight: normal;
  align-items: center;
  svg {
    margin-right: 4px;
    fill: $grey-darkest;
  }
}

.sidebar-title {
  font-weight: bold;
}

.sidebar-subtitle {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 16px;
  color: $grey;
  margin: 0;
}

.sidebar-participants {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  .hover-state {
    padding: 0 8px;
  }
}

.sidebar-collapsed-participants {
  flex-grow: 1;
}

.sidebar-new-room {
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  padding: 4px;

  svg {
    margin-right: 4px;
  }
}
