@import 'colors';

.sidebar {
  color: $grey-darkest;
  display: flex;
  flex-direction: column;
  background: $grey-lightest;
  box-shadow: 0 -1px 4px $grey-darkest;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 14px;
  min-width: 250px;
  z-index: 100;
}

.sidebar-header {
  padding: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;

  &:hover {
    background: $grey-dark;
    .sidebar-collapse {
      opacity: 1;
    }
  }
}

.sidebar-collapse {
  opacity: 0;
  transition: 0.25s ease-in-out;
}

.sidebar-shareable-link {
  font-size: 12px;
  font-weight: normal;
  align-items: center;
  margin-left: 12px;
  svg {
    margin-right: 4px;
    fill: $grey-darkest;
  }
}

.sidebar-subtitle {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 16px;
  color: $grey;
  margin: 0;
}

.sidebar-participants {
  display: flex;
  flex-direction: column;
}
