@import 'colors';

.picker {
  .clock {
    width: 160px;
    height: 160px;
    margin-bottom: 12px;
    position: relative;
    background: $grey-lighter;
    border-radius: 100%;
  }

  .meridian {
    font-size: 12px;
    line-height: 20px;
    color: $grey-light;

    &.selected {
      color: $grey-darker;
    }
  }

  .position {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;

    &:hover { background: $grey; }
    &-selected { background: $grey; }
    background: $grey-light;
    color: $grey-dark;
    &-1  { top: 12px; left: 96px; }
    &-2  { top: 36px; left: 118px; }
    &-3 { top: 66px; right: 2px; }
    &-4  { top: 96px; left: 118px; }
    &-5  { top: 118px; left: 96px; }
    &-6 { top: 128px; left: 65px; }
    &-7  { top: 118px; left: 34px; }
    &-8  { top: 96px; left: 12px; }
    &-9 { top: 66px; left: 2px; }
    &-10 { top: 36px; left: 12px; }
    &-11 { top: 12px; left: 34px; }
    &-12  { top: 2px; left: 65px; }

    &-0  { top: 2px; left: 65px; }
    &-15 { top: 66px; right: 2px; }
    &-30 { top: 128px; left: 65px; }
    &-45 { top: 66px; left: 2px; }
  }
}
